# WeatherPy

## Generate Cities List

In [126]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import openweathermapy as owm
from pprint import pprint

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [127]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=10)
lngs = np.random.uniform(low=-180.000, high=180.000, size=10)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)
print(cities)

['kuruman', 'kristinehamn', 'punta arenas', 'karaul', 'rikitea', 'busselton', 'palabuhanratu', 'sao joao da barra']

In [129]:
#only need to unhash if you need to run again, otherwise, it'll keep adding to the list

#new_cities= []

for x in cities:
    y = x.replace(' ','+')
    new_cities.append(y)
new_cities

['kuruman',
 'kristinehamn',
 'punta+arenas',
 'karaul',
 'rikitea',
 'busselton',
 'palabuhanratu',
 'sao+joao+da+barra']

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [131]:
cities_df = pd.DataFrame(new_cities)
cities_df['Max_temp']=''
cities_df['Lat']=''
cities_df['Lon']=''
cities_df['Cloudiness']=''
cities_df['Humidity']=''
cities_df['Wind_speed']=''
cities_df['Country']=''

In [141]:
settings = {"units": "metric", "appid": api_key}
url = "http://api.openweathermap.org/data/2.5/weather?"

for index, row in cities_df.iterrows():
    city = row[0]
    query_url = url + "appid=" + api_key + "&q=" + city + "&units=metric"
    weather_response = requests.get(query_url).json()
       
    try:     
        cities_df.loc[index, 'Max Temp'] = weather_response['main']['temp_max']
        cities_df.loc[index, 'Lat'] = weather_response['coord']['lat']
        cities_df.loc[index, 'Lon'] = weather_response['coord']['lon']
        cities_df.loc[index, 'Cloudiness'] = weather_response['clouds']['all']
        cities_df.loc[index, 'Humidity'] = weather_response['main']['humidity']
        cities_df.loc[index, 'Windspeed'] = weather_response['wind']['speed']
        cities_df.loc[index, 'Country'] = weather_response['sys']['country']
        print(f"{index} | Processing {row[0]}.") 
        
    except (KeyError, IndexError):
        print(f"{index} | Missing {row[0]}, skipping.")
        cities_df.loc[index, 'Max Temp'] = "NaN"
        cities_df.loc[index, 'Lat'] = "NaN"
        cities_df.loc[index, 'Lon'] = "NaN"
        cities_df.loc[index, 'Cloudiness'] = "NaN"
        cities_df.loc[index, 'Humidity'] = "NaN"
        cities_df.loc[index, 'Windspeed'] = "NaN"
        cities_df.loc[index, 'Country'] = "NaN"
        
    print("------------")

0 | Processing kuruman.
------------
1 | Processing kristinehamn.
------------
2 | Processing punta+arenas.
------------
3 | Missing karaul, skipping.
------------
4 | Processing rikitea.
------------
5 | Processing busselton.
------------
6 | Missing palabuhanratu, skipping.
------------
7 | Processing sao+joao+da+barra.
------------

In [142]:
cities_df

,0,Max_temp,Lat,Lon,Cloudiness,Humidity,Wind_speed,Country,Max Temp,Windspeed
0,kuruman,,-27.46,23.43,0,19,,ZA,21.55,6.07
1,kristinehamn,,59.31,14.11,0,62,,SE,2,4.1
2,punta+arenas,,-53.16,-70.91,40,88,,CL,12,13.4
3,karaul,,Na,Na,Na,Na,,Na,Na,Na
4,rikitea,,-23.12,-134.97,32,100,,PF,26.18,7.52
5,busselton,,-33.64,115.35,0,100,,AU,15.45,3.67
6,palabuhanratu,,Na,Na,Na,Na,,Na,Na,Na
7,sao+joao+da+barra,,-21.64,-41.05,0,55,,BR,31,8.2

In [147]:
refined_cities= pd.DataFrame(cities_df)
refined_cities.dropna(inplace=True)
refined_cities

,0,Max_temp,Lat,Lon,Cloudiness,Humidity,Wind_speed,Country,Max Temp,Windspeed
0,kuruman,,-27.46,23.43,0,19,,ZA,21.55,6.07
1,kristinehamn,,59.31,14.11,0,62,,SE,2,4.1
2,punta+arenas,,-53.16,-70.91,40,88,,CL,12,13.4
3,karaul,,Na,Na,Na,Na,,Na,Na,Na
4,rikitea,,-23.12,-134.97,32,100,,PF,26.18,7.52
5,busselton,,-33.64,115.35,0,100,,AU,15.45,3.67
6,palabuhanratu,,Na,Na,Na,Na,,Na,Na,Na
7,sao+joao+da+barra,,-21.64,-41.05,0,55,,BR,31,8.2

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot

In [4]:
print("Beginning Data Retrieval")
print("-----------------------------")

num = 0
weather_data=[]
data=[]
settings = {"units": "metric", "appid": api_key}

for city in cities:
    weather_data= [owm.get_current("city", **settings)]
    data.append(weather_data)
    num +=1

Beginning Data Retrieval
-----------------------------